<div>
  <% if (patient) { %>
      <p>
          <strong>first name</strong>: <%= patient.first_name %><br>
          <strong>last name</strong>: <%= patient.last_name %><br>
          <strong>birth date</strong>: <%= moment(patient.birth_date).format('l') %>
      </p>

  <% } else { %>
      <p>
        patient do not exist
      </p>
  <% } %>
</div>

<% if (patient.last_known_position) { %>
<input type="hidden" value="<%= patient.last_known_position.x %>" id="lat">
<input type="hidden" value="<%= patient.last_known_position.y %>" id="long">


<h2>Last Known Location</h2>
  <div class="row">
    <div id="map"></div>
  </div>
<% } %>
